<!DOCTYPE HTML>

<html>
	<head>
		<title>Indian Explores'</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="/index">Indian Explores'</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/index">Home</a></li>
							<li><a href="/trekking">Trekking</a></li>
							<li><a href="/contact">Contact</a></li>
							<li><a href="#" class="button">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>Indian Explores'</h2>
					<p>Explore As Much As You Can..</p>
					<ul class="actions special">
						<li><a href="#" class="button primary">Sign Up</a></li>
						<li><a href="#" class="button">Login</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Find   Your   Destination 
						    </h2>
							<p>Live Like You Are Free
						     </p>
						</header>
						{% comment %} <span class="image featured"><img src="static/assets/images/find.jpg" alt="" /></span> {% endcomment %}
					</section>

					

					<div class="row">
							<div class="col-6 col-12-narrower">
								<section class="box special">
									<span class="image featured"><img src="static/assets/images/mumbai.jpg" alt="" /></span>
									<h3> Mumbai </h3>
									<p>2D/1N Total cost Rupees 2999/</p>
									<ul class="actions special">
										<li><a href="#" class="button alt">Book Slot</a></li>
									</ul>
								</section>
							</div>
							
							<div class="col-6 col-12-narrower">
								<section class="box special">
									<span class="image featured"><img src="static/assets/images/goa.jpg" alt="" /></span>
									<h3>Goa</h3>
									<p>2D/2n Total cost Rupees 3999/</p>
									<ul class="actions special">
										<li><a href="#" class="button alt">Book Slot</a></li>
									</ul>
								</section>
							</div>

							
								<div class="col-6 col-12-narrower">
									<section class="box special">
										<span class="image featured"><img src="static/assets/images/kerala.jpg" alt="" /></span>
										<h3>Kerala</h3>
										<p>1D/1N Total cost Rupees 1999/</p>
										<ul class="actions special">
											<li><a href="#" class="button alt">Book Slot</a></li>
										</ul>
									</section>
								</div>
							
							     
							
								<div class="col-6 col-12-narrower">
									<section class="box special">
										<span class="image featured"><img src="static/assets/images/agra.jpg" alt="" /></span>
										<h3>Agra</h3>
										<p>2D/1N Total cost Rupees 3999/</p>
										<ul class="actions special">
											<li><a href="#" class="button alt">Book Slot</a></li>
										</ul>
									</section>
								</div>
							
									 <div class="col-6 col-12-narrower">
										<section class="box special">
											<span class="image featured"><img src="static/assets/images/rishikesh.jpg" alt="" /></span>
											<h3>Rishikesh</h3>
											<p>3D/2N Total cost Rupees 3499/</p>
											<ul class="actions special">
												<li><a href="#" class="button alt">Book Slot</a></li>
											</ul>
										</section>
									</div>
								
								
								 <div class="col-6 col-12-narrower">
									<section class="box special">
										<span class="image featured"><img src="static/assets/images/meghalya.jpg" alt="" /></span>
										<h3>Meghalya</h3>
										<p>3D/2N Total cost Rupees 4499/</p>
										<ul class="actions special">
											<li><a href="#" class="button alt">Book Slot</a></li>
										</ul>
									</section>
								</div>
					</div>

				</section>

			<!-- CTA -->
				{% comment %} <section id="cta">

					<h2>Sign up for beta access</h2>
					<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

					<form>
						<div class="row gtr-50 gtr-uniform">
							<div class="col-8 col-12-mobilep">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="col-4 col-12-mobilep">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section> {% endcomment %}

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Beehyv </li><li>Design: <a href="/index">Home </a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>